# Credentials
config.toml
config.toml.ed
*.key

# Environments & Tests
.env
venv/
.venv/
tests/
__pycache__/

# Logs & Caches
logs/*.log
core/flight/data/*.json
core/preflight/data/*.json

# Data Funnel (Track the structure, not the data)
data/*.json
data/sequences/*.json
/mnt/usb_buffer/
/mnt/astronas/
# REDA Private Data
core/postflight/knvws_reporter.py
core/flight/data/config.toml
*.xlsx
.env
