[Unit]
Description=Seestar Sentry Daemon (Kwetal v1.0)
After=seestar_audit.service
Requires=seestar_audit.service

[Service]
Type=simple
User=ed
Group=ed
WorkingDirectory=/home/ed/seevar
ExecStart=/usr/bin/python3 /home/ed/seevar/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
