[Unit]
Description=Run SeeVar Nightly Planner Daily

[Timer]
OnBootSec=3min
OnCalendar=*-*-* 15:00:00
Persistent=true
Unit=seevar-planner.service

[Install]
WantedBy=timers.target
